.schedule {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    min-width: 100%;
    max-width: 100%;
}

.schedule > * {
    width: 100%;
}

.schedule > h1 {
}

.schedule__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width <= 400px) {
    .schedule {
        min-width: 80%;
        max-width: 80%;
    }
}
