.base__layout {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
}

footer {
    margin-top: 10px;
}

/*
@media screen and (max-width: 468px) {
    .footer {
        background: rgb(48, 48, 48);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}*/
footer img {
    max-width: 36px;
    opacity: 0.7;
    transition: 0.2s ease-in-out;

}
footer img:hover {
    opacity: 1;
}

footer a:not(:last-child) {
    margin-right: 15px;
}