:root {
  --system-r: 20;
  --system-g: 25;
  --system-b: 20;


  --fore-r: calc(255 - var(--system-r)*2);
  --fore-g: calc(255 - var(--system-g)*2);
  --fore-b: calc(255 - var(--system-b)*2);

  --radius: 25px;
  --padding: 10px;


  --system-back-color: rgb(var(--system-r), var(--system-g), var(--system-b));
  --system-second-color: rgb(calc(var(--system-r) + 20), calc(var(--system-g) + 20), calc(var(--system-b) + 20));
  --system-third-color: rgb(calc(var(--system-r) + 10), calc(var(--system-g) + 10), calc(var(--system-b) + 10));

  --system-fore-color: rgb(var(--fore-r), var(--fore-g), var(--fore-b));

  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--system-fore-color);
  background-color: var(--system-back-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root * {
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --system-r: 230;
    --system-g: 230;
    --system-b: 230;

    --system-back-color: rgb(var(--system-r), var(--system-g), var(--system-b));
    --system-second-color: rgb(calc(var(--system-r) + 9), calc(var(--system-g) + 9), calc(var(--system-b) + 9));
    --system-third-color: rgb(calc(var(--system-r) + 20), calc(var(--system-g) + 20), calc(var(--system-b) + 20));
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --system-r: 18;
    --system-g: 25;
    --system-b: 18;

    --fore-r: 220;
    --fore-g: 240;
    --fore-b: 220;
  }
}
